/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Main Styling */
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.7em;
}

a {
	color: #333;
	text-decoration: none;
}

h1,
h2,
h3 {
	padding-bottom: 20px;
}

p {
	margin: 10px 0;
}

#navbar {
	color: #fff;
	overflow: auto;
	padding: 0 20px;
}

#navbar a {
	color: #fff;
}

#navbar h1 {
	float: left;
	/* padding-top: 20px; */
}

.car-background {
	background: url('../image_resources/model-3-hero-desktop.jpg') no-repeat
		center center/cover;
	height: 100vh;
	width: 100vw;
}

.hamburger {
	float: right;
	background: url('../image_resources/hamburger.png') no-repeat center
		center/cover;
	height: 18px;
	width: 18px;
}

#navbar a {
	color: #fff;
}

#navbar h1 {
	float: left;
	padding-top: 20px;
}

#navbar ul {
	list-style: none;
	float: right;
}

#navbar ul li {
	float: left;
}

#navbar ul li a {
	display: block;
	padding: 20px;
	text-align: center;
}

.model-3 {
	min-height: auto;
	min-width: 100%;
	font-size: 20px;
	text-align: center;
	color: white;
}

.order-now {
	color: white;
	border-color: white;
	border-width: 4px;
	font-size: 14px;
	padding: 8px 17px;
	cursor: pointer;
	border-radius: 20px;
}
